*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fcf8f6;
    font-family: sans-serif;
    font-size: 1em;
    color: #226699;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    align-items: center;
}

.logo-site{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}

#titulo{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 175%;
    color: #226699;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

#subtitulo{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #226699;
    justify-content: center;
    align-items: center;
    margin: 0px;
}


.container-inscricao{
    background-color: rgb(234, 203, 188);
    border: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.imagem{
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto-inscricao{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 130%;
    text-align: center;
    /*letter-spacing: -5px;**/
    text-indent: 1.5em; margin-top: 0;
    margin: 1%;
    color: #226699;   
} 

.campo{
    display: flex;
    color: #226699; 
    margin-bottom: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center;
}

 .botaoinscrever{
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
    border-style: solid;
    border-color: #ffffff;
    font-weight: bold;
    background-color: #ffcc4d;
    font-size: 18pxpx;
    width: 300px;
    height: 45px;

 }

input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

input[type="submit"]{
    color: white;
    background-color: #226699;
    font-weight: bold;
    font-size: 20px;
}

input[type="submit"]:hover{
    color: white;
    background-color: #ffcc4d;
    font-weight: bold;
    font-size: 20px;
}
